* {
    box-sizing: border-box;
}

.form {
    background-color: rgb(244, 207, 207);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
.form label {
    display: block;
}
.form input,
.form textarea {
    padding: 10px;
    width: 100%;
}

.item {
    background-color: plum;
    width: 400px;
    float: left;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}